.recordGraph {
    display: block;
    width: 50%;
    float: right;
}

.fighterTop div {
    float: left;
    clear: none;
    margin-right: 10%;
}

.recordPie{
    width:30%;
}
.lineChart{
    width:70%;
    height: 600%;
}
#predictionTesting{
    width: 100%;
    margin: 0 auto;
}
#predictionResults{
    width: 100%;
    margin: 0 auto;
}

#crossValidation{
    width: 35%;
    background: #ffffff;
    float: right;
}

.pastPredictionTable{
    padding-left: 5%;
    padding-right: 5%;
}

#matchupSearch{
    float: left;
    margin-bottom: 1em;
}
#testingResults{
    padding-left: 5%;
    padding-right: 5%;
}

.predictionLineChart{
    width:55%;
    height: 50%;
    float: left;
    padding-bottom: 5%;
}

.homePoster{
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    width: 50%;
    height: 50%;
}
.upcomingEventInfo{
    width: 50%;
    height: 50%;
    padding-right: 15%;
    background: #ffffff;
    float: right;
}
.nextEvent{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#slides_control > div{
      height: 200px;
  }

#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}

.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
    height: 48%;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

#resultExplanation{
    width: 60%;
    padding-left: 10%;
    padding-bottom: 10%;
    float: left;
}

#resultDonut{
    width: 37.5%;
    height: 37.5%;
    background: #ffffff;
    float: right;
    padding-right: 10%;
    padding-bottom: 10%;
}

td {
    vertical-align: baseline;
}
td img {
    vertical-align: top;
}
.MainFighterImage{
    width: 10%;
}
.eventImage{
    float:inherit;
    width:100%;
}
/*.img{*/
    /*height: auto;*/
    /*width: auto;*/
/*}*/



p{
    size: 10px;
}