.recordGraph {
    display: block;
    width: 50%;
    float: right;
}

.fighterTop div {
    float: left;
    clear: none;
    margin-right: 10%;
}
.previousFights{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


.recordPie{
    width:30%;
}

.topLeft{
    width: 50%;
    height: 50%;
    float: left;
}
.bottomLeft{
    width: 50%;
    height: 50%;
    float: left;
}

.lineChart{
    width:70%;
    height: 600%;
}

.fighterTop{
    width: 100%;
}
#predictionTesting{
    width: 100%;
    height: 60%;
    margin: 0 auto;
}
#predictionResults{
    width: 90%;
    margin: 0 auto;
}
/*.separator{*/
    /*padding-bottom: 5%;*/
/*}*/

.matchupResult{
     background-color: #222233;
    border: 2px solid #9fadaa;
    padding: 15px;
    border-radius: 25px;
}

#crossValidationExplanation{
    width: 35%;
    /*background: #ffffff;*/
         background-color: #222233;
    border: 2px solid #9fadaa;;
    padding: 15px;
    float: right;
    border-radius: 25px;
}

#LearningCurve{
    width: 45%;
    margin-top: 3%;
    background-color: #222233;
    border: 2px solid #9fadaa;;
    padding: 10px;
    float: right;
    border-radius: 25px;

}

.crossValidationResults{
    width: 55%;
    /*background: #ffffff;*/
     background-color: #222233;
    border: 2px solid #9fadaa;
    padding: 15px;
    float: left;
    border-radius: 25px;
}


.pastPredictionTable{
    padding-left: 5%;
    padding-right: 5%;
}

#matchupSearch{
    float: left;
    margin-bottom: 1em;
}
#testingResults{
    padding-left: 5%;
    padding-right: 5%;
}

.predictionLineChart{
    width:60%;
    height: 100%;
    float: left;
    padding-bottom: 5%;
    padding-right: 5%;
}

.learningCurve{
    width:55%;
    height: 100%;
    float: left;
    padding-bottom: 5%;
    padding-right: 5%;
}

.homeCarousel{
    width: 70%;
    float: left;
}

.homePoster{
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    width: 50%;
    height: 50%;
}
.upcomingEventInfo{
    padding-left: 10%;
    padding-right: 10%;
    width: 35%;
    height: 50%;
    float: right;
}
.nextEvent{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


#slides_control > div{
      height: 200px;
  }

.mainView{
    width: 100%;
}

#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}

.navbar-custom {
    background-color: #d7314d;
    color:#ffffff;
    font-weight: 700;;
    border-radius:0;
    height: 48%;
    padding-top: 0.15%;
    padding-bottom: 0.15%;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar{
    margin-bottom: 0!important;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #7d96bf;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

#resultExplanation{
    width: 60%;
    /*padding-left: 10%;*/
    /*padding-bottom: 10%;*/
    float: left;
    /*padding: 20px;*/
}


.fighter1Stats{
    float: right;
    /*background-color: #eeeeee;*/
    border: 2px solid #9fadaa;;
    padding: 10px;
    background-color: #222233;
    border-radius: 25px;
}
.fighter2Stats{
    float: left;
    /*background-color: #eeeeee;*/
    border: 2px solid #9fadaa;;
    padding: 10px;
    background-color: #222233;
    border-radius: 25px;
}

#resultDonut{
    width: 40%;
    height: 50%;
    float: right;
    padding-bottom: 10%;
}

td {
    vertical-align: baseline;
}
td img {
    vertical-align: top;
}
.MainFighterImage{
    width: 10%;
}
.eventImage{
    width: 40%;
    height:30%;
    float: left;
}
.grid{
    background-image: url("/../../images/chain.jpg") ;
    height: 35px;
    /*background-color: #33aa33;*/
}
.eventInfo  {
    padding-left: 5%;
    height: 30%;
    float: right;
    width: 40%;
}
.eventBreakdown{
    width: 800px;
    margin: 0 auto;
}

#slides_control > div{
    height: 200px;
}

.main {
    width: 100%;
    margin: 0 auto;

}
.sidebar {
    width: 50%;
    height: 50%;
    float: left;
    border-radius: 25px;
 background-color: #222233;
    border: 2px solid #9fadaa;;
    padding: 10px;
}

.page-wrap  {
    width: 50%;
    height: 50%;
    float: right;}





.hide{visibility: hidden;
    display: none;
}

.stats{
    /*background-color: #eeeeee;*/
    border: 2px solid #9fadaa;;
    padding: 10px;
    background-color: #222233;
    border-radius: 25px;

}
.breakDownStats{
    /*background-color: #eeeeee;*/
    border: 2px solid #9fadaa;;
    padding: 10px;
    background-color: #222233;
    border-radius: 25px;
    width: 60%;
    height: 80%;
    float: right;

}

.breakDownStats2{
    /*background-color: #eeeeee;*/
    border: 2px solid #9fadaa;;
    padding: 10px;
    background-color: #222233;
    border-radius: 25px;
    width: 60%;
    height: 80%;
    float: left;
}


.thumbnailStatss{
    width: 70%;
    /*background-color: #eeeeee;*/
    border: 2px solid #9fadaa;;
    padding: 5px;
    background-color: #222233;
    border-radius: 25px;
    /*width: 60%;*/
}

header{
    /*background-color: #222233;*/

}
div {
    color: #AACCFF;
}
.table tbody tr.loss > td {
    background-color: #c36357 !important;
}
.table tbody tr.win > td {
    background-color: #6db37b !important;
}


/*table.table tbody > tr.danger {*/
    /*background-color: #957df2 !important;*/
/*}*/


body{

    background-image: url("/../../images/octagon2.jpg");;
    background-repeat:repeat-y;
    background-size: 100%;
    width: 100%;}
header{
/*/ background-color: #222233; */
}
html{
/*/ background-color: #222233; */
}

#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}
/*.img{*/
    /*height: auto;*/
    /*width: auto;*/
/*}*/

/*ribbon*/
.ribbon {
    width: 180px;
    height: 30px;
    position: absolute;
    text-align: center;
    font-size: 16px!important;
    background: #76ba5b;
    background: -webkit-gradient(linear, left top, left bottom, from(#76ba5b), to(#74ab2c));
    background: -webkit-linear-gradient(top, #76ba5b, #74ab2c);
    background: -moz-linear-gradient(top, #76ba5b, #74ab2c);
    background: -ms-linear-gradient(top, #76ba5b, #74ab2c);
    background: -o-linear-gradient(top, #76ba5b, #74ab2c);
    background-image: -ms-linear-gradient(top, #76ba5b 0%, #74ab2c 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.ribbon h1 {
    font-size: 15px!important;
    color: #f5faff;
    text-shadow: #0d0a0a 0 1px 0;
    margin:0px;
    padding: 5px 5px;
}
.ribbon:before, .ribbon:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #41c23a;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    border-color: #298516 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}
.ribbon-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

/*loser ribbon*
*ribbon*/
.loserribbon {
    width: 180px;
    height: 30px;
    position: absolute;
    text-align: center;
    font-size: 16px!important;
    background: #c9061c;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9061c), to(#c9061c));
    background: -webkit-linear-gradient(top, #c9061c, #c9061c);
    background: -moz-linear-gradient(top, #c9061c, #c9061c);
    background: -ms-linear-gradient(top, #c9061c, #c9061c);
    background: -o-linear-gradient(top, #c9061c, #c9061c);
    background-image: -ms-linear-gradient(top, #c9061c 0%, #c9061c 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
}
.loserribbon h1 {
    font-size: 15px!important;
    color: #f5faff;
    text-shadow: #0d0a0a 0 1px 0;
    margin:0px;
    padding: 5px 5px;
}
.loserribbon:before, .loserribbon:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #c2373d;
    z-index: -1;
}
.loserribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.loserribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.loserribbon .loserribbon-content:before, .loserribbon .loserribbon-content:after {
    border-color: #ce263e transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}

.loserribbon .loserribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.loserribbon .loserribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}
.loserribbon-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.loserribbon-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

p{
    size: 10px;
}

.versus {
    height:35%;
    padding-top:20%;
}

.fighter1Profile{
    float: left;
    width: 100%;
    /*padding-left: 10%;*/
    padding-top: 2%;

}

.fighter2Profile{
    float: right;
    width: 100%;
    /*padding-left: 10%;*/
    padding-top: 2%;

}


.profileImage{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 10%;
    float: left;
    width: 30%;
}
.fighter2Profile{
    float: right;
    width: 100%;
    padding-left: 10%;
}
.fightHistory{
    padding-left: 10%;
    width: 80%;
    height: 50%;
}
.topRight{
    height: 50%;
    width: 50%;
    float: right;
}