<div class="container">
    <h1 align="center">All Fighters</h1>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search for Fighter" ng-model="searchFish"/>
            </div>
        </div>
    </form>
    <div class="table-responsive">
    <table class="table">
            <tr><th>Fighter Name</th><th>Fighter Image</th></tr>
            <tr  ng-click="vm.goToFighter(fighter[0])" ng-repeat="fighter in vm.fighters | filter:searchFish">
                <td>{{fighter[1]}} {{fighter[2]}}</td><td><img src={{fighter[3]}}></td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="vm.goToFighter(fighter[0])">View Fighter</button>
                </td>

            </tr>
        </table>
    </div>
</div>