<div class="container">
    <div class="eventBreakdown">
        <div class="eventImage">
            <img src="{{vm.event.feature_image}}">
        </div>
        <div class="eventInfo">
            <h2>{{vm.event.base_title}}</h2>
            <h2>{{vm.event.title_tag_line}}</h2><p>{{vm.event.event_date |date}}</p><p>{{vm.event.location}}</p>
            <br>
        </div>
    </div>

            <table class="table ">
                <tr><th>Fights</th></tr>
                <tr height="180" ng-repeat="matchup in vm.event.matchups">
                    <!--<td ng-class="cellClass(matchup.fighter1_id,matchup.fighter1_is_winner)">-->
                    <td>
                        <div class="main">
                            <div class="sidebar">
                                <b>Name :</b>
                                <a ng-click="vm.goToFighter(matchup.fighter1_id)">{{matchup.fighter1_first_name}} {{matchup.fighter1_last_name}}</a>
                                <br>
                                <b>Height :</b>{{matchup.fighter1height}}
                                <br>
                                <b>Reach :</b>{{matchup.fighter1reach}}
                                <br>
                            </div>
                            <div class="page-wrap">
                                <img ng-src="{{matchup.fighter1_profile_image}}" height="120">
                                <div ng-if="matchup.fighter1_is_winner">
                                    <div class="ribbon">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                </div>
                                <div ng-if="matchup.fighter2_is_winner">
                                    <div class="loserribbon">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </td>
                    <td><img src="images/versus.png" class="versus"> </td>
                    <td>
                        <div class="main">
                            <div class="sidebar">
                                <b>Name :</b>
                                <a ng-click="vm.goToFighter(matchup.fighter2_id)">{{matchup.fighter2_first_name}} {{matchup.fighter2_last_name}}</a>
                                <br>
                                <div ng-show="matchup.fighter2height>0"><b>Height :</b>{{matchup.fighter2height}}</div>
                                <br>
                                <div ng-show="matchup.fighter2reach>0"><b>Reach :</b>{{matchup.fighter2reach}}</div>
                                <br>
                            </div>
                            <div class="page-wrap"><img ng-src="{{matchup.fighter2_profile_image}}" height="120">
                                <div ng-if="matchup.fighter2_is_winner">
                                    <div class="ribbon">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                </div>
                                <div ng-if="matchup.fighter1_is_winner">
                                    <div class="loserribbon">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td><b>{{matchup.result.method}}</b></td>
                     <td> <button type="button" class="btn btn-info"  ng-click="vm.goToMatchup(matchup.id)">View Details</button></td>
                </tr>

                </table>
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>