<div class="container">
    <div class="panel-group">
    <div class="panel panel-success">
        <div class="panel-heading">{{vm.event.base_title}}  {{vm.event.event_date | date}}</div>
        <div class="panel-body">
            <div class="eventImage">
                <img width="100%" src="{{vm.event.feature_image}}">
            </div>

            <table class="table table-bordered table-bordered">
                <tr><th>Fights</th></tr>
                <tr ng-repeat="matchup in vm.event.matchups">
                    <td ng-class="cellClass(matchup.fighter1_id,matchup.fighter1_is_winner)">
                        <div style="float:left;" >
                            <b>Name :</b><a ng-click="vm.goToFighter(matchup.fighter1_id)">{{matchup.fighter1_first_name}} {{matchup.fighter1_last_name}}</a></div>
                        <br>
                        <div style="float:right;"><img src="{{matchup.fighter1_profile_image}}" height="100"></div>
                    </td>
                   <td>vs</td>
                    <td ng-class="cellClass(matchup.fighter2_id,matchup.fighter2_is_winner)">
                        <div style="float:left;" >
                            <b>Name :</b><a ng-click="vm.goToFighter(matchup.fighter2_id)">{{matchup.fighter2_first_name}} {{matchup.fighter2_last_name}}</a></div>
                        <br>
                        <div style="float:right;"><img src="{{matchup.fighter2_profile_image}}" height="100"></div>
                    </td>
                    <td>{{matchup.result.method}}</td>
                     <td> <button type="button" class="btn btn-info"  ng-click="vm.goToMatchup(matchup.id)">View Details</button></td>
                </tr>
                </table>
        </div>
        </div>
    </div>

</div>