<div class="container">
<h1 align="center">Watch it Learn</h1>
<div id="predictionTesting">
<div class="predictionLineChart">
    <canvas id="myChart2"></canvas>
</div>
    <div id="crossValidation">
        <h2 align="center">The Learning Curve</h2>
        <p>The graph to the left illustrates how the model performs depending on how much data is provided.
        Each point represents the % of matchups predicted correctly. In order to determine the % of matchups predicted correctly
        the full set is 10 fold cross validated (for more information on testing see <a href="#viewAllPredictions">here</a>).
        </p>
    </div>
</div>
</div>