<div class="container">
    <h1 align="center" class="title">Upcoming Events</h1>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search for Event" ng-model="searchFish"/>
            </div>
        </div>
    </form>
    <table class="table">
        <tr><th>Event Name</th><th>Date</th></tr>
        <tr ng-repeat="event in vm.events | filter:searchFish | orderBy:'event_date'" ng-click="vm.goToUpcomingEvent(event[0])">
            <td>
                <b><div class="stats"> {{event[1]}} {{event[2]}}</div></b></td>

            <td><div class="stats">{{event[3] | date}}</div> </td><td><button type="button" class="btn btn-default" ng-click="vm.goToUpcomingEvent(event[0])">Event Info</button></td>
        </tr>
    </table>
</div>