<div class="container">
    <div class="eventBreakdown">
        <div class="eventImage">
            <img src="{{vm.event.feature_image}}">
        </div>
        <div class="eventInfo">
            <h2>{{vm.event.base_title}}</h2>
            <h2>{{vm.event.title_tag_line}}</h2><p>{{vm.event.event_date |date}}</p><p>{{vm.event.location}}</p>
            <br>
            <button type="button" class="btn btn-info"  ng-click="vm.getPredictions()">Show Predictions</button>
        </div>
    </div>

                <table class="table">
                    <th>Matchups</th>
                    <tr ng-repeat="matchup in vm.event.matchups" height="180">
                        <td ng-class="vm.cellClass(matchup.fighter1_id)">
                            <!--<p nd-if="angular.element(#currentFighter).hasClass('winner');">test</p>-->
                            <div class="main">
                                <div class="sidebar">
                                    <b>Name :</b>
                                    <b><a ng-click="vm.goToFighter(matchup.fighter1_id)">{{matchup.fighter1_first_name}} {{matchup.fighter1_last_name}}</a></b>
                                    <br>
                                    <b>Record :</b>{{matchup.fighter1record}}
                                </div>
                                <div class="page-wrap">
                                    <img id="fighter" ng-src="{{matchup.fighter1_profile_image}}" height="120">
                                        <div ng-class="vm.labelClass({{matchup.fighter1_id}})">
                                            <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                            <h1>Predicted Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                                        </div>
                                    <div ng-show="vm.loserLabelClass({{matchup.fighter1_id}})" CLASS="loserribbon">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Predicted Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                    </div>
                                </div>
                        </td>
                        <td><img src="images/versus.png" class="versus"> </td>
                        <td ng-class="vm.cellClass(matchup.fighter2_id)">
                            <div class="main">
                                <div class="sidebar">
                                    <b>Name :</b>
                                    <b><a ng-click="vm.goToFighter(matchup.fighter2_id)">{{matchup.fighter2_first_name}} {{matchup.fighter2_last_name}}</a></b>
                                    <br>
                                    <b>Record :</b>{{matchup.fighter2record}}
                                </div>
                                <div class="page-wrap"><img ng-src="{{matchup.fighter2_profile_image}}" height="120">
                                    <div ng-class="vm.labelClass({{matchup.fighter2_id}})">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Predicted Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                    <div ng-show="vm.loserLabelClass({{matchup.fighter2_id}})" CLASS="loserribbon">
                                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                        <h1>Predicted Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td> <button type="button" class="btn btn-info"  ng-click="vm.goToMatchup(matchup.id)">View Fight Breakdown</button></td>
                    </tr>
                </table>

</div>