<div class="container">
    <div class="panel panel-default">
    <table class="table">
        <tr height="150"><td bgcolor="#0066ff" >
            <div class="sidebar">
                <b>Name :</b>
                <b><a ng-click="vm.goToFighter(vm.matchup.fighter1_id)">{{vm.matchup.fighter1_first_name}} {{vm.matchup.fighter1_last_name}}</a></b>
                <br>
                <b>Height :</b>{{vm.matchup.fighter1height}}
                <br>
                <div ng-show="vm.matchup.fighter1reach>0"><b>Reach :</b>{{vm.matchup.fighter1reach}}</div>
                <br>
            </div>
            <div class="page-wrap"><img ng-src="{{vm.matchup.fighter1_profile_image}}" height="120">
                <div ng-if="vm.matchup.fighter1_is_winner">
                    <div class="ribbon">
                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                        <h1>Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                    </div>
                </div>
                <div ng-if="vm.matchup.fighter2_is_winner">
                    <div class="loserribbon">
                        <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                        <h1>Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                    </div>
                </div>
            </div>
        </td>
            <td bgcolor="gray"><img src="images/versus.png" class="versus"> </td>

            <td bgcolor="#c36357">
                <div class="main">
                    <div class="sidebar">
                        <b>Name :</b>
                        <b><a ng-click="vm.goToFighter(vm.matchup.fighter2_id)">{{vm.matchup.fighter2_first_name}} {{vm.matchup.fighter2_last_name}}</a></b>
                        <br>
                        <div ng-show="vm.matchup.fighter2height>0">
                            <b>Height :</b>{{vm.matchup.fighter2height}}
                            <br>
                            </div>
                        <div ng-show="vm.matchup.fighter2reach>0"><b>Reach :</b>{{vm.matchup.fighter2reach}}
                            <br>
                        </div>

                        <div ng-show="vm.fighter2.rank!==''"><b>Rank:</b> {{vm.fighter2.rank}}
                            <br>
                        </div>

                    </div>
                    <div class="page-wrap"><img ng-src="{{vm.matchup.fighter2_profile_image}}" height="120">
                        <div ng-if="vm.matchup.fighter2_is_winner">
                            <div class="ribbon">
                                <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                <h1>Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                            </div>
                        </div>
                        <div ng-if="vm.matchup.fighter1_is_winner">
                            <div class="loserribbon">
                                <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                <h1>Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
        </div>

    <div class="fighter1Profile">
        <div class="profileImage1"> <img ng-src="{{vm.fighter1.left_full_body_image}}"></div>
        <div class="breakDownStats">
            <h2 align="center">{{vm.fighter1.first_name}} {{vm.fighter1.last_name}}</h2>
            <div class="topLeft">
                <h3>Record:</h3>
                <canvas id="fighter1Pie"></canvas>
            </div>

            <div class="topRight">
                <h3>Striking:</h3>
                <p><b>Strikes landed per minute : </b>{{vm.matchup.fighter1_slpm| number: 2}}</p>
                <p><b>Strikes absorbed per minute : </b>{{vm.matchup.fighter1_sapm| number: 2}}</p>
                <p><b>Striking accuracy : </b>{{vm.matchup.fighter1_strikingaccuracy| number: 2}}%</p>
                <p><b>Striking defense  : </b>{{vm.matchup.fighter1_strikingdefense| number: 2}}%</p>
            </div>

            <div class="bottomLeft">
                <h3>Grappling:</h3>
                <ul>
                <li><p><b>Takedown average :</b> {{vm.matchup.fighter1_takedownaverage| number: 2}} takedowns landed per fight</p></li>
                <li><p><b>Takedown defense :</b> {{vm.matchup.fighter1_takedowndefense| number: 2}} %</p></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="fighter2Profile">
        <div class="profileImage2"> <img ng-src="{{vm.fighter2.left_full_body_image}}"></div>
        <div class="breakDownStats2">
            <h2 align="center">{{vm.fighter2.first_name}} {{vm.fighter2.last_name}}</h2>

            <div class="topLeft">
                <h3>Record:</h3>
                <canvas id="fighter2Pie"></canvas>
            </div>

            <div class="topRight">
                <h3>Striking:</h3>
                <p><b>Strikes landed per minute : </b>{{vm.matchup.fighter2_slpm| number: 2}}</p>
                <p><b>Strikes absorbed per minute : </b>{{vm.matchup.fighter2_sapm| number: 2}}</p>
                <p><b>Striking accuracy : </b>{{vm.matchup.fighter2_strikingaccuracy| number: 2}}%</p>
                <p><b>Striking defense  : </b>{{vm.matchup.fighter2_strikingdefense| number: 2}}%</p>
            </div>

            <div class="bottomLeft">
                <h3>Grappling:</h3>
                <ul>
                    <li><p><b>Takedown average :</b> {{vm.matchup.fighter2_takedownaverage| number: 2}} takedowns landed per fight</p></li>
                    <li><p><b>Takedown defense :</b> {{vm.matchup.fighter2_takedowndefense| number: 2}} %</p></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="pastPerformances">
    <div class="fightHistory">
        <canvas id="lineChart1"></canvas>
    </div>
    <div class="fightHistory2">
        <canvas id="lineChart2"></canvas>
    </div>
</div>

<!--<div class="fighterHistorys">-->

<!--</div>-->