<div class="container">
                <div class="fighterTop">
                    <div class="MainFighterImage">
                        <img src={{vm.fighterImage}}/>
                    </div>

                    <div class="stats">
                        <ul>
                            <li><b>Name: </b>{{vm.fighter.first_name}} {{vm.fighter.last_name}}</li>
                            <li><b>Weight class: </b> {{vm.fighter.weight_class}}</li>
                            <li ng-show="vm.fighter.rank!==''"><b>Rank: </b> {{vm.fighter.rank}}</li>
                            <li ng-show="vm.fighter.reach>0"><b>Reach: </b> {{vm.fighter.reach}}</li>
                            <li ng-show="vm.fighter.height>0"><b>Height: </b> {{vm.fighter.height}}</li>
                        </ul>
                    </div>
                    <div class="recordPie">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="lineChart">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
</div>
    <div class="previousFights">
        <h2>Previous fights</h2>
        <div class="panel panel-default">
        <table class="table">
                    <tr ng-repeat="matchup in vm.fighter.matchups | orderBy:'-date'" ng-class="rowClass({{matchup}})">
                            <td>
                                <div><img ng-src="{{matchup.fighter1_profile_image}}" height="85"></div>
                                <div class="thumbnailStatss">
                                    <a ng-click="vm.goToFighter(matchup.fighter1_id)">
                                     {{matchup.fighter1_first_name}} {{matchup.fighter1_last_name}}
                                </a>
                                </div>
                            </td>
                        <td><div class="vers"><img src="images/versus.png" height="50"></div> </td>
                        <td>

                            <div><img ng-src="{{matchup.fighter2_profile_image}}" height="85"></div>
                            <div class="thumbnailStatss" width="50">
                                <a ng-click="vm.goToFighter(matchup.fighter2_id)">
                                    {{matchup.fighter2_first_name}} {{matchup.fighter2_last_name}}
                                </a>
                            </div>
                        </td>
                        <td><div ng-if="matchup.result==null">(Upcoming)</div><b>{{matchup.result.method}}-{{matchup.result.ending_time}}</b></td>
                        <td>{{matchup.date | date}}</td>

                        <td> <button ng-show="matchup.date > vm.currentDate" type="button" class="btn btn-info"  ng-click="vm.goToUpcomingMatchup(matchup.id)">View Breakdown</button>
                        <button ng-show="matchup.date < vm.currentDate && matchup.status==='valid'" type="button" class="btn btn-info"  ng-click="vm.goToMatchup(matchup.id)">View Details</button></td>
                    </tr>
                </table>
            </div>
    </div>

</div>