<div class="breakdownPage">
    <div class="panel panel-default">
    <table class="table">
            <tr height="150"><td bgcolor="#0066ff" >
                        <div class="sidebar">
                                <div ng-switch="vm.matchup.fighter1IsActive">
                                        <div ng-switch-when="true">
                                            <b>Name :
                                            <a ng-click="vm.goToFighter(vm.matchup.fighter1_id)">
                                                {{vm.matchup.fighter1_first_name}} {{vm.matchup.fighter1_last_name}}
                                            </a>
                                            </b>
                                        </div>
                                        <div ng-switch-default><b>Name : {{vm.matchup.fighter1_first_name}} {{vm.matchup.fighter1_last_name}}</b></div>
                                </div>
                                <div ng-show="vm.matchup.fighter1height>0"><b>Height :</b>{{vm.matchup.fighter1height}}</div>
                            <br>
                            <div ng-show="vm.matchup.fighter1reach>0"><b>Reach :</b>{{vm.matchup.fighter1reach}}</div>
                            <br>
                        </div>
                        <div class="page-wrap"><img ng-src="{{vm.matchup.fighter1_profile_image}}" height="120">
                            <div ng-if="vm.matchup.fighter1_is_winner">
                                <div class="ribbon">
                                    <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                    <h1>Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                                </div>
                            </div>
                            <div ng-if="vm.matchup.fighter2_is_winner">
                                <div class="loserribbon">
                                    <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                    <h1>Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                                </div>
                            </div>
                        </div>
            </td>
                <td bgcolor="#ff5050">
                    <div class="main">
                        <div class="sidebar">
                            <div ng-switch="vm.matchup.fighter2IsActive">
                                <div ng-switch-when="true">
                                    <b>Name :
                                        <a ng-click="vm.goToFighter(vm.matchup.fighter2_id)">
                                            {{vm.matchup.fighter2_first_name}} {{vm.matchup.fighter2_last_name}}
                                        </a>
                                    </b>
                                </div>
                                <div ng-switch-default><b>Name : {{vm.matchup.fighter2_first_name}} {{vm.matchup.fighter2_last_name}}</b></div>
                            </div>
                            <b>Height :</b>{{vm.matchup.fighter2height}}
                            <br>
                            <div ng-show="vm.matchup.fighter2reach>0"><b>Reach :</b>{{vm.matchup.fighter2reach}}</div>
                            <br>
                        </div>
                        <div class="page-wrap"><img ng-src="{{vm.matchup.fighter2_profile_image}}" height="120">
                            <div ng-if="vm.matchup.fighter2_is_winner">
                                <div class="ribbon">
                                    <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                    <h1>Winner</h1></strong><div class="ribbon-stitches-bottom"></div>
                                </div>
                            </div>
                            <div ng-if="vm.matchup.fighter1_is_winner">
                                <div class="loserribbon">
                                    <div class="ribbon-stitches-top"></div><strong class="ribbon-content">
                                    <h1>Loser</h1></strong><div class="ribbon-stitches-bottom"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <div class="matchupResult">
            <h2 id="outcome" align="center"></h2>
        </div>
        <div class="strikingBreakdown">
            <div class="sectionHeader"><h1>Striking Breakdown</h1></div>
            <div class="matchupStriking">
                <div>
                    <h3> {{vm.matchup.fighter1_first_name}} {{vm.matchup.fighter1_last_name}} Striking Accuracy:</h3>
                    <b>{{vm.matchup.result.fighter1StrikesLanded}}/{{vm.matchup.result.fighter1StrikesAttempted}} strikes landed</b>
                </div>
                <canvas id="accuracyDoughnut1" />
            </div>

            <div class="totalStrikes">
                <canvas id="myChart"></canvas>
            </div>

            <div class="matchupStriking2">
                <div>
                    <h3>{{vm.matchup.fighter2_first_name}} {{vm.matchup.fighter2_last_name}} Striking Accuracy:</h3>
                    <b>{{vm.matchup.result.fighter2StrikesLanded}}/{{vm.matchup.result.fighter2StrikesAttempted}} strikes landed</b>
                </div>
                <canvas id="accuracyDoughnut2" />
            </div>
        </div>

    <div class="sectionHeader2">
        <h1>Grappling Breakdown</h1>
    </div>
    <canvas height="50"  id="myChart2"></canvas>
</div>