<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Forecast The Fight</title>
    <!--css -->
    <link rel="stylesheet" type="text/css" href="app/css/styles.css"/>
    <!--bootstrapp, thymeleaf, jquery scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <!--angular scripts-->
    <script type="text/javascript" src="angular.min.js"></script>

    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/Controllers/home.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.event.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.upcoming.event.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.upcoming.events.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.fighter.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.event.predictions.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/fighter.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/event.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.upcoming.matchup.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.matchup.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.predictions.controller.js"></script>
    <script type="text/javascript" src="app/Controllers/view.learning.curve.controller.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>


</head>
<body ng-app="app" id="appBody">

<header>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-left" href="#"><img src="images/Logo1.png"  width="120" height="60"/></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#allFighters">View Fighters</a></li>
                <li><a href="#allEvents">View Past Events</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" >The Algorithm
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#HowItWorks">How It Works</a></li>
                        <li><a href="#viewAllPredictions">How It Performs</a></li>
                        <li><a href="#theLearningCurve">How It Improves</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" >View Upcoming Events and Predictions
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">View All Upcoming Predictions</a></li>
                        <li><a href="#upcomingEvents">View Upcoming Events</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="mainView" class="ng-view">
    <!--
    -->
</div>
<footer class="footer">

</footer>
</body>
</html>